<div id="contact">
    <img src="images/banner-images/contact.jpg" alt="background-images" class="bg-image" loading="eager">
    <div class="contact-container">
        <div class="container">
            <h6>CONTACT US</h6>
            <h2>Get In Touch With Us</h2>
            <div class="contact-group">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <iframe
                            *ngIf="safeMapUrl"
                            [src]="safeMapUrl"
                            style="border:0;border-radius: 15px;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div class="contact-info">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="card">
                                        <img src="images/icons/phone-icon.png" alt="">
                                        <div class="info">
                                            <h6>{{ settings.contact_phone }}</h6>
                                            <p>Phone Number</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="card">
                                        <img src="images/icons/email-icon.png" alt="">
                                        <div class="info">
                                            <h6>{{ settings.contact_email }}</h6>
                                            <p>Business Email</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="card">
                            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label for="name">Full Name</label>
                                    <input type="text" name="name" id="name" formControlName="name" maxlength="100" placeholder="Enter Your Name..." autocomplete="off" required/>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="text" name="phone" id="phone" formControlName="phone" maxlength="15" placeholder="Enter Your Phone Number" autocomplete="off" required/>
                                </div>
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea id="message" name="message" rows="5" formControlName="msg" placeholder="Your Message" autocomplete="off" required></textarea>
                                </div>
                                <button type="submit" id="submit" name="submit" [disabled]="contactForm.invalid || isSaved"><span *ngIf="isSaved" class="spinner-border spinner-border-sm"></span>{{ isSaved ? ' Sending...' : 'Send Message' }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>