<div id="contact">
    <img src="images/banner-images/contact.jpg" alt="background-images" loading="eager">
    <div class="contact-container">
        <div class="container">
            <h6>CONTACT US</h6>
            <h2>Get In Touch With Us</h2>
            <div class="contact-group">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d3268.5565154699893!2d77.61722774936763!3d13.036266077622388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e0!4m0!4m3!3m2!1d13.0367978311592!2d77.61580229873792!5e0!3m2!1sen!2sin!4v1737224617382!5m2!1sen!2sin"
                            style="border:0;border-radius: 15px;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div class="contact-info">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="card">
                                        <img src="images/icons/phone-icon.png" alt="">
                                        <div class="info">
                                            <h6>+91 9361773690</h6>
                                            <p>Phone Number</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="card">
                                        <img src="images/icons/email-icon.png" alt="">
                                        <div class="info">
                                            <h6>buybulk&#64;gmail.com</h6>
                                            <p>Business Email</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="card">
                            <form>
                                <div class="form-group">
                                    <label for="name">Full Name</label>
                                    <input type="text" name="name" id="name" placeholder="Enter Your Name..." autocomplete="off" required/>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="text" name="phone" id="phone" placeholder="Enter Your Phone Number" autocomplete="off" required/>
                                </div>
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea id="message" name="message" rows="5" placeholder="Your Message" autocomplete="off" required></textarea>
                                </div>
                                <button type="submit" id="submit" name="submit">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>