<div class="item-container">
    <div class="container">
        <img [src]="product.image" [alt]="product.name">
        <div class="item-header">
            <h4>{{ product.name }}</h4>
            <p>{{ product.selling_price }}</p>
        </div>
        <div class="item-content">
            <ul> 
                <li>Selling Price: <span>{{ product.selling_price }}</span></li>
                <li>Market Price: <span class="strikethrough">{{ product.market_price }}</span></li>
                <li>Stock Available: <span>{{ product.stock }}</span></li>
            </ul>
        </div>
    </div>
</div>
