h2 {
    padding: 20px;
    color: var(--infobar-icon-color);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.logout {
    font-size: 50%;
    cursor: pointer;
}

.logout:hover {
    text-decoration: underline;
    color: #ad2400;
}