<div id="add-item">
    <div class="row">
        <div class="col-12 col-lg-8">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th class="text-start" scope="col">Product Name</th>
                    <th scope="col">Selling Price</th>
                    <th scope="col">Market Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of itemsArray; let i = index">
                    <td>{{ i + 1}}</td>
                    <td class="text-start">{{item.title}}</td>
                    <td>{{item.sell_price}}</td>
                    <td>{{item.market_price}}</td>
                    <td>{{item.stock_avail}}</td>
                    <td><i class="fa fa-trash icon delete-icon" aria-hidden="true"></i></td>
                    <td><i class="fa fa-pencil icon" aria-hidden="true"></i></td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <form>
                    <img src="images/products/product-default.png" alt="picture">
                    <div class="form-group">
                        <label for="name">Product Name</label>
                        <input type="text" name="name" id="name" placeholder="Enter the Product Name" autocomplete="off" required/>
                    </div>
                    <div class="form-group">
                        <label for="sPrice">Selling Price</label>
                        <input type="text" name="sPrice" id="sPrice" placeholder="0.00" autocomplete="off" required/>
                    </div>
                    <div class="form-group">
                        <label for="mPrice">Market Price</label>
                        <input type="text" name="mPrice" id="mPrice" placeholder="0.00" autocomplete="off" required/>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="stock">Stock</label>
                                <input type="text" name="stock" id="stock" placeholder="0 Kg/Ml" autocomplete="off" required/>
                            </div>
                        </div>
                        <div class="col-6 text-end">
                            <label>&nbsp;</label>
                            <button type="submit" id="submit" name="submit">Save</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
