<div id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h4>About Us</h4>
                <p>Welcome to BuyBulk, your go-to grocery wholesaler for quality products at unbeatable prices. We pride ourselves on offering a wide selection of products that cater to your everyday needs. By encouraging bulk orders, we ensure that you get the best value for your money without compromising on quality. Let BuyBulk be your partner in convenient and affordable shopping.</p>
            </div>
            <div class="col-12 col-lg-6 img-div">
                <img src="images/banner-images/basket items.png" alt="basket-items" loading="lazy">
            </div>
        </div>
    </div>
</div>