#setting {
  margin: 20px 0px;
}

button {
  background-color: var(--infobar-icon-color);
  height: 44px;
  border-radius: 5px;
  padding: 0px 20px;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}

button:hover {
  background-color: #b70707;
}

button:disabled {
  cursor: not-allowed;
  border: none;
  opacity: 0.5;
}

label {
  color: var(--infobar-icon-color);
}

.text-danger {
  font-size: 12px;
  margin-top: 5px;
}
